<div class="password-strength-container">
  <label class="password-label">
    <p>Password:</p>
    <input
      type="password"
      placeholder="Enter password"
      class="password-field"
      id="password"
      (input)="onInputChamge($event)"
  /></label>

  <div class="difficulty-indicator-container">
    <div [ngClass]="['indicator', firstIndicator]"></div>
    <div [ngClass]="['indicator', secondIndicator]"></div>
    <div [ngClass]="['indicator', thirdIndicator]"></div>
  </div>
</div>
