<div class="password-strength-container">
  <form [formGroup]="form">
    <label class="password-label">
      <p>Password:</p>
      <input
        type="password"
        placeholder="Enter password"
        class="password-field"
        id="password"
        [formControlName]="'password'"
    /></label>

    <div class="difficulty-indicator-container">
      <div [ngClass]="['indicator', firstIndicator]"></div>
      <div [ngClass]="['indicator', secondIndicator]"></div>
      <div [ngClass]="['indicator', thirdIndicator]"></div>
    </div>
  </form>
</div>
