.difficulty-indicator-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
}

.password-strength-container, .password-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.indicator {
  height: 3px;
  border-radius: 1.5px;
}

.password-field {
  padding: 4px 8px;
}

.gray {
  border: 1px solid lightgray;
  background-color: lightgray;
}

.red {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
}

.yellow {
  border: 1px solid rgb(255, 255, 0);
  background-color: rgb(255, 255, 0);
}

.green {
  border: 1px solid rgb(0, 255, 0);
  background-color: rgb(0, 255, 0);
}
