*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: ghostwhite;
  color: rgb(5, 1, 15);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
